.layer{
  background-color: rgba(26, 188, 156 , 0.5);
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}


.inner:hover .layer{
  opacity: 1;
}

#myModal{
  z-index: 9998888;
  inset: 0;
}
